@charset "UTF-8";
/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

/*couleurs*/
:root {
  --main-color: #0065FC;
  --main-bg-color: #F2F2F2;
  --filter-bg-color: #DEEBFF;
}

.fa-solid {
  color: var(--main-color);
}

/*navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.navbar .logo {
  height: 19px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.navbar .navbar-links {
  display: flex;
  gap: 68px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 14px;
}
.navbar .navbar-links #home:hover {
  color: #0065FC;
  border-top: 2px solid #0065FC;
  padding-top: 13px;
}
.navbar .navbar-links #activity:hover {
  color: #0065FC;
  border-top: 2px solid #0065FC;
  padding-top: 13px;
}

/*Section Group*/
form {
  display: flex;
}
form .icon-localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0px 0px 15px;
  border: 1px solid #D9D9D9;
  background-color: #D9D9D9;
  height: 49px;
  width: 49px;
}
form .icon-localisation i {
  font-size: 20px;
}
form .input-research {
  height: auto;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  border-left: 0;
  border-right: 0;
  width: 195px;
}
form .input-research::-moz-placeholder {
  color: black;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}
form .input-research::placeholder {
  color: black;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}
form .btn-research {
  border-radius: 0px 15px 15px 0px;
  border: none;
  color: white;
  background-color: #0065FC;
  cursor: pointer;
  font-size: 16px;
  width: 132px;
}

.small-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.filtres-bar {
  display: flex;
  gap: 15px;
  font-size: 18px;
}
.filtres-bar .filtres-title {
  font-weight: bold;
}
.filtres-bar ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 15px;
}
.filtres-bar ul li .icon-filter {
  color: #0065FC;
  font-size: 20px;
  padding-right: 10px;
}
.filtres-bar ul li button {
  border-radius: 25px;
  padding: 4px 19px 4px 19px;
  border: 2px solid #D9D9D9;
  background-color: white;
  height: 50px;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filtres-bar ul li button:hover {
  background-color: #DEEBFF;
}

.info {
  display: flex;
  align-items: center;
}
.info .icon-i {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #D9D9D9;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
  width: 3px;
  height: 3px;
}
.info .fas {
  color: #0065FC;
  font-size: 12px;
}

.info-group {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.info-group #icon-glass {
  display: none;
}

/*Section Group*/
.offer-main .hotels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
}
.offer-main .marseille-case {
  height: 207.25px;
  background: white;
  border-radius: 20px;
  border: 5px solid transparent;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1803921569);
  overflow: hidden;
}
.offer-main .marseille-case .hostingMainCardGradeIcon {
  color: #0065FC;
}
.offer-main .marseille-case .hostingMainCardGradeIconEmpty {
  color: #F2F2F2;
}
.offer-main .marseille-case .case-text {
  line-height: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.offer-main .marseille-case .case-text .hotel-name {
  font-size: 16px;
}
.offer-main .marseille-case-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55%;
}
.offer-main .marseille-case-img-host {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.offer-main .small-title {
  margin-top: 30px;
}

body {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin: 0px;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
}
.main-container .container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.main-container hr {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  -o-object-fit: cover;
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.hebergements-and-populaires .accommodation {
  width: 70%;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 30px;
}

.populaires-cards img {
  width: 33%;
  height: 146px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/*Activités à Marseille*/
.section-activities {
  margin-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
}
.section-activities .activities-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 30px;
}
.section-activities .activities-container .activity {
  height: 439px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1803921569);
  overflow: hidden;
}
.section-activities .activities-container .activity .activity-img {
  width: 100%;
  height: 87%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-activities .activities-container .activity .card-title {
  padding-left: 19px;
}

.footer-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #F2F2F2;
}
.footer-section .footer-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}
.footer-section .footer-container h1 {
  line-height: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {
  .main-container .container .hebergements-and-populaires .offer-main h2 {
    margin-bottom: 0px;
  }
  .main-container .container .info-group .filtres-bar {
    display: flex;
    flex-direction: column;
  }
  .section-activities {
    padding: 30px;
    margin-top: 0px;
  }
  .section-activities .activities-container {
    padding-left: 0;
    padding-right: 0;
  }
  .section-activities .activities-container .activity {
    width: 100%;
    height: 270px;
  }
  .section-activities .activities-container .activity .activity-img {
    width: 100%;
    height: 75%;
  }
  .hebergements-and-populaires {
    flex-direction: column;
  }
  .hebergements-and-populaires .accommodation {
    width: auto;
  }
  .hebergements {
    width: 100%;
  }
  .populaires {
    width: 100%;
  }
  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .populaires-cards .card {
    margin-top: 20px;
  }
  .populaires-cards a {
    width: 30%;
  }
  .populaires-cards .card-title {
    font-size: 14px;
  }
  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  .main-container {
    padding: 0;
  }
  .main-container hr {
    display: block;
    position: static;
    border: 1px solid #D9D9D9;
    width: 100%;
    margin-top: 15px;
  }
  .main-container .container .info-group {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-container .container .info-group form {
    display: flex;
    width: 92.5vw;
  }
  .main-container .container .info-group form .btn-research {
    display: none;
  }
  .main-container .container .info-group form #icon-glass {
    display: inline-block;
    color: white;
    background-color: #0065FC;
    border: none;
    border-radius: 15px;
    width: 49px;
    height: 49px;
    font-size: 16px;
    padding: 16px;
    transform: translateX(-30%);
  }
  .main-container .container .info-group form .icon-localisation {
    height: auto;
  }
  .main-container .container .info-group form .input-research::-moz-placeholder {
    font-size: 18px;
    text-indent: -20px;
  }
  .main-container .container .info-group form .input-research::placeholder {
    font-size: 18px;
    text-indent: -20px;
  }
  .main-container .container .info-group #p-title {
    margin-top: 8px;
    margin-bottom: 0;
  }
  .main-container .container .info-group p {
    margin: 0;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .navbar-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    width: 100%;
    gap: 0px;
  }
  .navbar .navbar-links #home {
    position: relative;
  }
  .navbar .navbar-links #home::after {
    content: "";
    position: absolute;
    top: 34px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #0065FC;
    transform: translateX(-50%);
  }
  .navbar .navbar-links #home:hover {
    color: #0065FC;
    border-top: none;
    padding-top: 0px;
  }
  .navbar .navbar-links #home:hover::after {
    width: 50vw;
  }
  .navbar .navbar-links #activity {
    position: relative;
  }
  .navbar .navbar-links #activity::after {
    content: "";
    position: absolute;
    top: 34px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #0065FC;
    transform: translateX(-50%);
  }
  .navbar .navbar-links #activity:hover {
    border-top: none;
    padding-top: 0px;
  }
  .navbar .navbar-links #activity:hover::after {
    width: 50vw;
  }
  .filtres-bar ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 10px;
  }
  .filtres-bar ul li button {
    width: 100%;
    font-size: 14px;
    padding: 0;
  }
  .filtres-bar .filtres-title {
    margin: 0;
  }
  .hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }
  .hebergements-and-populaires .populaires {
    border-radius: 0px;
  }
  .hebergements-and-populaires .accommodation {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 20px;
  }
  .populaires-cards {
    display: block;
  }
  .offer-main .hotels {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .offer-main .hotels .marseille-case {
    width: 100%;
  }
  .offer-main .small-title {
    margin-top: 15px;
  }
  .section-activities {
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-activities .activities-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .section-activities .activities-container .activity {
    height: 200px;
  }
  .footer-section {
    display: flex;
    flex-direction: column;
  }
}
/*320px*/
/*# sourceMappingURL=styles.css.map */